
.heading h1{
    color:white;
    font-size: 30px;
    font-weight:900;
    letter-spacing: 1px;
    padding-top:4rem;
    text-align: center;
    text-shadow: 3px 3px rgba(50,50,70,0.7);
    
}
.heading h4{
    color:white;
    text-align: center;
}
.searchBox{
    text-align: center;
    margin:3rem;
    position: relative;
    display: inline-block;

}

.search-icon {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    color: teal; 
}

.search-bar {
    padding-left: 40px; 
    height: 40px;
    width: 300px; 
    border: 1px solid #ccc; 
    border-radius: 20px; 
}

.notSearch{
    font-size: 35px;
    color:white;
    font-weight:900;
}
.container{
    width:100%;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.meal-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.meal-name {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.meal-details {
    margin-top: 15px;
}

.meal-details h3 {
    color: #666;
    font-size: 18px;
    margin-bottom: 5px;
}

.meal-details ul {
    margin-top: 5px;
}

.meal-details ul li {
    color: #444;
    font-size: 16px;
    margin-bottom: 5px;
}

.meal-details p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
}


/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    .search-bar {
        width: 80%; /* Adjust width for smaller screens */
    }
    .search-icon {
        position: absolute;
        left: 35px; /* Adjust as needed */
        top: 50%;
        transform: translateY(-50%);
        color:teal; /* Adjust color as needed */
    }
    
}